.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.75rem 4.75rem;
}

.background {
  width: 450px;
}

.info {
  width: 50%;
}

.search {
  display: flex;
  gap: 1.75rem;
}

.repositories {
  margin-top: 1.25rem;
}

.repositories h3 {
  color: #c9d1d9;
  font-size: 1.5rem;
  text-align: center;
}